parameters:
	level: 7
	paths:
		- 'php-src'
	scanFiles:
		- 'php-tests/CommonTestClass.php'
	excludePaths:
		# because COM object cannot be found
		- 'php-src/Storage/Database/Raw/WinRegistry2.php'
		- 'php-src/Storage/Shared/DotNet/ComRegistry.php'
		# autoload
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_bootstrap.php'
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# known one
		# - '#Constructor of class kalanis\\kw_mapper\\Storage\\Shared\\DotNet\\ComRegistry has an unused parameter \$moduleName.#'
		- '#does not accept kalanis\\kw_mapper\\Storage\\Database\\ADatabase.#'
		- '#does not accept kalanis\\kw_mapper\\Storage\\Database\\Dialects\\ADialect.#'
		# ldap connection problems - php8.0- uses resource, php8.1+ object
		- '#of function ldap_[a-z_]+ expects array\|resource, object\|resource given.#'
		- '#of function ldap_[a-z_]+ expects resource, object\|resource given.#'
		- '#of function ldap_[a-z_]+ expects resource, object\|resource\|null given.#'
		- '#of function ldap_[a-z_]+ expects array\|resource, object\|resource\|null given.#'
		# odbc and dba are not better
		- '#of function odbc_[a-z_]+ expects resource, object\|resource\|null given.#'
		- '#of function dba_[a-z_]+ expects resource, object\|resource\|null given.#'
		-
			message: '#Parameter \#1 \$callback of function array_map expects#'
			path: 'php-src/Storage/Shared/FormatFiles/Csv.php'
		# strval function
		- '#Parameter \#1 \$va[rl]u?e? of function strval expects#'
